# OpenFOAM ignores
SigmaSV/constant/polyMesh
SigmaSV/*.*
SigmaSV/*e-*
SigmaSV/processor*
SigmaSV/postProcessing
postProcessSources/constant/polyMesh
postProcessSources/*.*
postProcessSources/*e-*
postProcessSources/processor*
postProcessSources/postProcessing

# Nektar ignores
APE/Absorption/*.fld
APE/BaseFlow/*.fld
APE/Mesh.xml
APE/Mesh_*
APE/*.chk
APE/*.fld
APE/*.dat
APE/MicrophoneArray*

# Job file ignores
*.slurm
*.out
*.sh
